body {
  font-size: 100%;
  line-height: 1.3;
  font-family: "DejaVu Serif" "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h3,
h1 {
  color: darkslategray;
}

h1 {
  font-family: "Festive";
  font-weight: 900;
}
